
.bigCounter {
  display: inline-flex;          
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 5px solid black;       
  border-radius: 15px;           
  background-color: #202020;     
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;                
  margin: 0;
  background-color: white;     
}
.bigCounter div {
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  background: #101010;
  color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 8px;
  min-width: 60px;
  text-align: center;
}
